<div class="container">
  <div class="row " class="alert alert-info" role="alert">
    <h3>Inscription</h3>
    <form [formGroup]="formGroup">

      <div class="form-group">
        <img [src]="imageUrl">
        <button type="button" class="share" mat-mini-fab color="primary"
          onclick="document.getElementById('getFile').click()">
          <mat-icon>add_a_photo</mat-icon>
        </button>
        <input type='file' id="getFile" style="display:none" (change)="onImageSelected($event)">
      </div>


      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Your name" formControlName="nom">
      </div>
      <div class="form-group">
        <label for="lname">Last name</label>
        <input type="text" class="form-control" id="lname" placeholder="Your Last name" formControlName="prenom">
      </div>
      <div class="form-group">
        <label for="userName">User Name</label>
        <input type="text" class="form-control" id="userName" placeholder="Your userName" formControlName="userName">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Your Email" formControlName="email">
      </div>
      <div class="form-group">
        <label for="code">Password</label>
        <input type="password" class="form-control" id="code" name="code" placeholder="Your Password"
          formControlName="password">
      </div>
      
      <h5>Carte Informations</h5>
      <div class="form-group">
        <label for="date">Expiration date</label>
        <input type="date" class="form-control" id="date" name="date"  placeholder="--/--/--"
        formControlName="dateExp">
      </div>
      <div class="form-group">
        <label for="numcarte">Carte number</label>
        <input type="number" class="form-control" id="numcarte" name="numcarte" placeholder="Carte Number"
        formControlName="numeroCarte">
      </div>
      <div class="form-group">
        <label for="carteOwner">Carte owner</label>
        <input type="text" class="form-control" id="carteOwner" name="carteOwner" placeholder="Carte Owner"
        formControlName="proprietaire">
      </div>
      <button type="submit" [disabled]="!formGroup.valid" (click)="inscrire()"
        class="btn btn-primary mb-2">Validate</button>
    </form>
  </div>
</div>