<div class="MyNavBar ">
	<div class="navigation-wrap bg-light start-header {{navBarService.className}}">
		<div class="container ">
			<div class="row">
				<div class="col-12">
					<nav class="navbar navbar-expand-md navbar-light ">
					
						<a class="navbar-brand" href="#" target="_blank" alt="" ><b><h3>FounDea</h3></b></a>	
						
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						
						<div class="collapse navbar-collapse active" id="navbarSupportedContent">
							<ul class="navbar-nav ml-auto py-4 py-md-0">
								<li (click)="goHome()" class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link"  href="/">Home</a>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Categories</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">Art</a>
										<a class="dropdown-item" href="#">Science</a>
										<a class="dropdown-item" href="#">Education</a>
										<a class="dropdown-item" href="#">Water</a>
									</div>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="#">My Profile</a>
										<a class="dropdown-item" href="#">My Projects</a>
									</div>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
										<a class="nav-link" href="#">Contact us</a>
								</li>
								<li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
									<div class="md-form my-0">
										<input class="form-control mr-sm-2" type="text" placeholder="Search">
									</div>
								</li>
								<li style="border: 1px black solid;" class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
								</li>
								<li style="text-align: right;" class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
										<a class="nav-link" href="#">Se connecter</a>
								</li>
							</ul>
						</div>
					</nav>		
				</div>
			</div>
		
		</div>
	</div>
</div>