 <!-- User connecté -->
 <div *ngIf=" authService.jwt != null">
  <!-- Form -->
  <div class="comment-form">
    <!-- Img Avatar -->
    <div class="comment-avatar">
      <img [src]="authService.userImage">
    </div>

    <!-- Comment Avatar -->
    <form  (ngSubmit)="submitComment()" class="form" name="form" novalidate>
      
      <div class="form-row">
        <textarea
            class="input"
            name="comment"
            placeholder="Add comment..."
            [(ngModel)]="comment"
            [ngModelOptions]="{standalone: true}"
            required>
        </textarea>
      </div>

      <!-- Submit Button -->
      <div class="form-row">
        <input type="submit"  value="Add Comment" >
      </div>
    </form>
  </div>
</div>

 <!-- User Non-connecté -->
<div style="display: flex; justify-content: center;"  *ngIf=" authService.jwt == null">
  <span style=" background-color: rgb(193, 213, 221); border: 1px solid rgb(153, 177, 199);">
      You have to be connected to add a comments !!
  </span>
</div>

<!-- Affichage des commentaires -->
<div style="margin-bottom: 200px;" class="comments-container">
    <div id="comments-list" class="comments-list">
        <div *ngFor="let comm of commentService.comments" >
            <li>
                <div class="comment-main-level">
                    <!-- User Image -->
                    <div *ngFor="let commImage of commentService.commentsImage" >
                      <div *ngIf="commImage.id == comm.user.id">
                        <div class="comment-avatar">
                          <img [src]="commImage.img" alt="">
                        </div>
                      </div>
                    </div>
                    <!-- <div class="comment-avatar"><img src="{{comm.user.imageUrl}}" alt=""></div> -->
                    <!-- Contenedor del Comentario -->
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name"><a href="http://creaticode.com/blog">{{comm.user.userName}}</a></h6>
                            <span>{{comm.date | date : 'dd/mm/yyyy'}}</span>
                            <i class="fa fa-reply"></i>
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="comment-content">
                            {{comm.commentaire}}
                        </div>
                    </div>
                </div>
            </li>
        </div>
    </div>
</div>