
<!-- Form -->
<div class="comment-form">
    <!-- Comment Avatar -->
    <div class="comment-avatar">
      <img src="http://lorempixel.com/200/200/people">
    </div>

    <form class="form" name="form"  ng-submit="form.$valid && cmntCtrl.addComment()" novalidate>
      <div class="form-row">
        <textarea
            class="input"
            ng-model="commentToAdd"
            placeholder="Add comment..."
            required>
        </textarea>
      </div>

      <div class="form-row">
        <input
               class="input"
               ng-class="{ disabled: cmntCtrl.comment.anonymous }"
               ng-disabled="cmntCtrl.comment.anonymous"
               ng-model="email"
               ng-required="!cmntCtrl.comment.anonymous"
               placeholder="Email"
               type="email">
      </div>

      <div class="form-row text-right">
        <input
               id="comment-anonymous"
               ng-change="cmntCtrl.anonymousChanged()"
               ng-model="anonymous"
               type="checkbox">
        <label for="comment-anonymous">Anonymous</label>
      </div>

      <div class="form-row">
        <input (click)="submitComment(form)" type="submit" value="Add Comment">
      </div>
    </form>
</div>

<!-- Contenedor Principal -->
<div style="margin-bottom: 200px;" class="comments-container">
    <div id="comments-list" class="comments-list">
        <div *ngFor="let comm of productService.comments" >
            <li>
                <div class="comment-main-level">
                    <!-- Avatar -->
                    <div class="comment-avatar"><img src="{{comm.user.image}}" alt=""></div>
                    <!-- Contenedor del Comentario -->
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name"><a href="http://creaticode.com/blog">{{comm.user.username}}</a></h6>
                            <span>{{comm.date}}</span>
                            <i class="fa fa-reply"></i>
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="comment-content">
                            {{comm.comment}}
                        </div>
                    </div>
                </div>
            </li>
        </div>
    </div>
</div>