<!-- <div *ngIf=" authService.jwt != '' "> -->
  <!-- Form -->
  <div class="comment-form">
    <!-- Comment Avatar -->
    <div class="comment-avatar">
      <img [src]="imgPath">
    </div>

    <form  (ngSubmit)="submitComment()" class="form" name="form"  ng-submit="form.$valid " novalidate>
      <div class="form-row">
        <textarea
            class="input"
            placeholder="Add comment..."
            [(ngModel)]="comment"
            [ngModelOptions]="{standalone: true}"
            required>
        </textarea>
      </div>

      <div style="z-index: 30;" class="form-row">
        <input type="submit"  value="Add Comment">
      </div>
    </form>
  </div>
<!-- </div>

<div *ngIf="authService.jwt.lenght == 0">

</div> -->

<!-- Contenedor Principal -->
<div style="margin-bottom: 200px;" class="comments-container">
    <div id="comments-list" class="comments-list">
        <div *ngFor="let comm of productService.comments" >
            <li>
                <div class="comment-main-level">
                    <!-- Avatar -->
                    <div class="comment-avatar"><img src="{{comm.user.image}}" alt=""></div>
                    <!-- Contenedor del Comentario -->
                    <div class="comment-box">
                        <div class="comment-head">
                            <h6 class="comment-name"><a href="http://creaticode.com/blog">{{comm.user.username}}</a></h6>
                            <span>{{comm.date}}</span>
                            <i class="fa fa-reply"></i>
                            <i class="fa fa-heart"></i>
                        </div>
                        <div class="comment-content">
                            {{comm.comment}}
                        </div>
                    </div>
                </div>
            </li>
        </div>
    </div>
</div>