
<div style="top:0; height: auto;  margin-bottom: 1490px;" id="scroll-animate">
    <div id="scroll-animate-main">
        <div class="wrapper-parallax">
            
            <header>
                <app-header></app-header>
            </header>

            <section style="margin-top: -60px;"  class="content">
                <app-home></app-home>  
            </section>

            <footer id="footer" >
                <app-footer></app-footer>
            </footer>

        </div >
    </div>
</div>
