<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Sign In </h2>
  

    <!-- Icon -->
    <div class="fadeIn first ">
      <i class="material-icons " style="font-size: 55px">account_circle</i>
    </div>

    <!-- Login Form -->
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <input type="text" id="login" class="fadeIn second"  placeholder="Email" formControlName="email">
      <input type="text" id="password" class="fadeIn third"  placeholder="password" formControlName="password">
      <input type="submit" class="fadeIn fourth" [disabled]="!formGroup.valid" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" (click)="oncreate()" >SIGN UP</a>
    </div>

  </div>
</div>

