<div class="center">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2 class="active"> Sign In </h2>
  
  
    <!-- Icon -->
    <div class="fadeIn">
      <i class="material-icons " style="font-size: 55px">account_circle</i>
    </div>
  
    <!-- Login Form -->
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">User Name</label>
      <input type="text" class="form-control" id="username" placeholder="User Name" formControlName="userName">
    </div>
    <div class="form-group">
      <label for="password">User Name</label>
      <input type="password" class="form-control" id="password" placeholder="password" formControlName="password">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Log in</button>
  </form >
    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" (click)="oncreate()">SIGN UP</a>
    </div>
  </div>
  </div>

  