@import url('https://fonts.googleapis.com/css?family=Lobster|Quicksand');

body {
    background-color: #f2f2f2;
    font-family: 'Quicksand', sans-serif;
}

.container {
    margin-top: 50px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(180, 180, 180, 0.5);
}

.stat-box {
    padding: 20px;
    text-align: center;
    
    .title {
        font-family: 'Lobster', cursive;
        font-size: 4em;
        
        &.pos {
            color: #00B16A;
        }
        
        &.neg {
            color: #f03434;
        }
    }
    
    .body {
        font-size: 18px;
        color: #555;
    }
}