<!-- <body >
    <app-navbar ></app-navbar>

    <div *ngIf="indexService.activePage == 'home' ">
        <div id="scroll-animate">
            <div id="scroll-animate-main">
                <div class="wrapper-parallax">
                    
                    <header>
                        <app-header></app-header>
                    </header>
    
                    <section  class="content">
                        <app-home></app-home>  
                    </section>
    
                    <footer  >
                        <app-footer></app-footer>
                    </footer>
    
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="indexService.activePage == 'product' ">
        <div class="header">
            <app-product-header></app-product-header>
        </div>
        <app-product-content></app-product-content>
        <div class="footer">
            <app-footer></app-footer>
        </div>
    </div>

    <a href="#" class="link-to-portfolio" target=”_blank”></a>
</body>  -->

<!-- <div *ngIf="indexService.activePage == 'home' "> -->
    <div id="scroll-animate">
        <div id="scroll-animate-main">
            <div class="wrapper-parallax">
                
                <header>
                    <app-header></app-header>
                </header>

                <section  class="content">
                    <app-home></app-home>  
                </section>

                <footer  >
                    <app-footer></app-footer>
                </footer>

            </div>
        </div>
    </div>
<!-- </div> -->