.share{ 
    position: absolute;
    left: 85%;
    top: 5%
}
img{
    height: 150px;
}

i.material-icons { // to aline the icons with the text
    font-size: 16px;
    vertical-align: middle;
    position: relative;
    top: -1px;
  }