
  section{
      margin-top: 30px;
      margin-bottom: 30px;
  }
  .titre{
    margin-top: 30px;
    margin-bottom: 30px;
  }

.slider{
    margin-top: 50px;
    width: 700px;
   
}
.imageSize{
    height: 400px;
}